body {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}
.caja{
    color: black;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
    width: 300px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #1821aa;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: rgb(221, 26, 26);
}
